@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400&display=swap');

body{
    background-image: url(sfondoOpacita40.png);
background-position: center;
background-size: cover;
background-repeat: no-repeat;
}

.finestraintera{
width: 100vw;
height: 100vh;
/* background-color: pink; */
display: block;
position: relative;

}

h1{
    font-family: 'Dancing Script', cursive;
    text-align: center;
    text-shadow: 2px 2px 3px rgba(51,51,51,0.5);

}
h3{
    font-family: 'Dancing Script', cursive;
    text-align: center;
}

.logo{
 padding-top: 10px;
}

.latosinistro{
background-image: url(vinosinistra.png);
background-position: center;
background-size: cover;
background-repeat: no-repeat;
}

.latodestro{
    background-image: url(vinodestra.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    }


.testospostato{
    position: absolute;
    z-index: 2;
    margin-left: -280px;
    margin-top: 80px;
    font-family: 'Dancing Script', cursive;
    font-size: 30px;
    font-weight: 400;
    color:dimgray;
    text-shadow: 2px 2px 3px rgba(51,51,51,0.2);
}

.glassmorfismocartina{
    background: rgba( 255, 255, 255, 0.25 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 4px );
-webkit-backdrop-filter: blur( 4px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
width: 600px;
}



/* MENU */

                                *, *:before, *:after {
                                    margin: 0;
                                    padding: 0;
                                    box-sizing: border-box;
                                }
                                
                                body {
                                    width: 100%;
                                    height: 100%;
                                }
                                body.overflow {
                                    overflow: hidden;
                                }
                                
                                /*  BURGER
                                ========================================== */
                                .burger {
                                    width: 50px;
                                    height: 50px;
                                    position: fixed;
                                    top: 20px;
                                    right: 20px;
                                    border-radius: 4px;
                                    z-index: 10;
                                }
                                .burger span {
                                    position: relative;
                                    margin-top: 9px;
                                    margin-bottom: 9px;
                                    -webkit-user-select: none;
                                    -moz-user-select: none;
                                    -ms-user-select: none;
                                    user-select: none;
                                    position: absolute;
                                    top: 50%;
                                    left: 50%;
                                    margin-left: -15px;
                                    margin-top: -1.5px;
                                }
                                .burger span, .burger span::before, .burger span::after {
                                    display: block;
                                    width: 30px;
                                    height: 3px;
                                    background-color: #2a2a2a;
                                    outline: 1px solid transparent;
                                    -webkit-transition-property: background-color, -webkit-transform;
                                    -moz-transition-property: background-color, -moz-transform;
                                    -o-transition-property: background-color, -o-transform;
                                    transition-property: background-color, transform;
                                    -webkit-transition-duration: 0.3s;
                                    -moz-transition-duration: 0.3s;
                                    -o-transition-duration: 0.3s;
                                    transition-duration: 0.3s;
                                }
                                .burger span::before, .burger span::after {
                                    position: absolute;
                                    content: "";
                                }
                                .burger span::before {
                                    top: -9px;
                                }
                                .burger span::after {
                                    top: 9px;
                                }
                                .burger.clicked span {
                                    background-color: transparent;
                                }
                                .burger.clicked span::before {
                                    -webkit-transform: translateY(9px) rotate(45deg);
                                    -moz-transform: translateY(9px) rotate(45deg);
                                    -ms-transform: translateY(9px) rotate(45deg);
                                    -o-transform: translateY(9px) rotate(45deg);
                                    transform: translateY(9px) rotate(45deg);
                                }
                                .burger.clicked span::after {
                                    -webkit-transform: translateY(-9px) rotate(-45deg);
                                    -moz-transform: translateY(-9px) rotate(-45deg);
                                    -ms-transform: translateY(-9px) rotate(-45deg);
                                    -o-transform: translateY(-9px) rotate(-45deg);
                                    transform: translateY(-9px) rotate(-45deg);
                                }
                                .burger.clicked span:before, .burger.clicked span:after {
                                    background-color: #ffffff;
                                }
                                .burger:hover {
                                    cursor: pointer;
                                }
                                
                                /*  NAV
                                ========================================== */
                                nav {
                                    background-color: #2a2a2a;
                                    position: fixed;
                                    z-index: 9;
                                    top: 0;
                                    right: 0;
                                    height: 100%;
                                    max-width: 515px;
                                    width: 100%;
                                    padding: 100px 40px 60px 40px;
                                    overflow-y: auto;
                                    -webkit-transform: translateX(100%);
                                    -moz-transform: translateX(100%);
                                    -ms-transform: translateX(100%);
                                    -o-transform: translateX(100%);
                                    transform: translateX(100%);
                                    -webkit-transition: transform 0.55s cubic-bezier(0.785, 0.135, 0.15, 0.86);
                                    -moz-transition: transform 0.55s cubic-bezier(0.785, 0.135, 0.15, 0.86);
                                    -o-transition: transform 0.55s cubic-bezier(0.785, 0.135, 0.15, 0.86);
                                    transition: transform 0.55s cubic-bezier(0.785, 0.135, 0.15, 0.86);
                                }
                                nav.show {
                                    -webkit-transform: translateX(0px);
                                    -moz-transform: translateX(0px);
                                    -ms-transform: translateX(0px);
                                    -o-transform: translateX(0px);
                                    transform: translateX(0px);
                                }
                                nav.show ul.main li {
                                    -webkit-transform: translateX(0px);
                                    -moz-transform: translateX(0px);
                                    -ms-transform: translateX(0px);
                                    -o-transform: translateX(0px);
                                    transform: translateX(0px);
                                    opacity: 1;
                                }
                                nav.show ul.main li:nth-child(1) {
                                    transition-delay: 0.15s;
                                }
                                nav.show ul.main li:nth-child(2) {
                                    transition-delay: 0.3s;
                                }
                                nav.show ul.main li:nth-child(3) {
                                    transition-delay: 0.45s;
                                }
                                nav.show ul.main li:nth-child(4) {
                                    transition-delay: 0.6s;
                                }
                                nav.show ul.main li:nth-child(5) {
                                    transition-delay: 0.75s;
                                }
                                nav.show ul.main li:nth-child(6) {
                                    transition-delay: 0.9s;
                                }
                                nav.show ul.main li:nth-child(7) {
                                    transition-delay: 1.05s;
                                }
                                nav.show ul.main li:nth-child(8) {
                                    transition-delay: 1.2s;
                                }
                                nav.show ul.main li:nth-child(9) {
                                    transition-delay: 1.35s;
                                }
                                nav.show .about, nav.show .social, nav.show ul.sub {
                                    -webkit-transform: translateY(0px);
                                    -moz-transform: translateY(0px);
                                    -ms-transform: translateY(0px);
                                    -o-transform: translateY(0px);
                                    transform: translateY(0px);
                                    opacity: 1;
                                    transition-delay: 0.85s;
                                }
                                @media (min-width: 667px) {
                                    nav {
                                    padding: 120px 90px 70px 90px;
                                    }
                                }
                                nav ul.main {
                                    list-style-type: none;
                                }
                                nav ul.main li {
                                    margin-bottom: 20px;
                                    -webkit-transform: translateX(40px);
                                    -moz-transform: translateX(40px);
                                    -ms-transform: translateX(40px);
                                    -o-transform: translateX(40px);
                                    transform: translateX(40px);
                                    opacity: 0;
                                    -webkit-transition: all 0.3s ease;
                                    -moz-transition: all 0.3s ease;
                                    -o-transition: all 0.3s ease;
                                    transition: all 0.3s ease;
                                }
                                nav ul.main li:last-of-type {
                                    margin-bottom: 0px;
                                }
                                nav ul.main li a {
                                    color: #ffffff;
                                    font-family: 'Josefin Sans', sans-serif;
                                    text-decoration: none;
                                    text-transform: uppercase;
                                    font-size: 1.5rem;
                                    display: block;
                                    letter-spacing: 5px;
                                    font-weight: 400;
                                    padding: 10px 0;
                                    -webkit-transition: all 0.3s ease;
                                    -moz-transition: all 0.3s ease;
                                    -o-transition: all 0.3s ease;
                                    transition: all 0.3s ease;
                                }
                                nav ul.main li a span {
                                    color: #b7ac7f;
                                }
                                nav ul.main li a:hover {
                                    color: #b7ac7f;
                                }
                                nav .about {
                                    margin-top: 40px;
                                    -webkit-transform: translateY(30px);
                                    -moz-transform: translateY(30px);
                                    -ms-transform: translateY(30px);
                                    -o-transform: translateY(30px);
                                    transform: translateY(30px);
                                    opacity: 0;
                                    -webkit-transition: all 0.4s ease;
                                    -moz-transition: all 0.4s ease;
                                    -o-transition: all 0.4s ease;
                                    transition: all 0.4s ease;
                                }
                                nav .about p {
                                    color: #ffffff;
                                    font-family: 'Josefin Sans', sans-serif;
                                    font-size: 1.05rem;
                                    letter-spacing: 0.5px;
                                    line-height: 170%;
                                    font-weight: 300;
                                }
                                nav .social {
                                    margin-top: 40px;
                                    position: relative;
                                    padding-bottom: 30px;
                                    -webkit-transform: translateY(30px);
                                    -moz-transform: translateY(30px);
                                    -ms-transform: translateY(30px);
                                    -o-transform: translateY(30px);
                                    transform: translateY(30px);
                                    opacity: 0;
                                    -webkit-transition: all 0.4s ease;
                                    -moz-transition: all 0.4s ease;
                                    -o-transition: all 0.4s ease;
                                    transition: all 0.4s ease;
                                }
                                nav .social:after {
                                    content: "";
                                    width: 230px;
                                    height: 2px;
                                    background-color: #b7ac7f;
                                    position: absolute;
                                    bottom: 0;
                                    left: 0;
                                }
                                nav .social a {
                                    display: inline-block;
                                    width: 30px;
                                    height: 30px;
                                    margin-right: 25px;
                                }
                                nav .social a:last-of-type {
                                    margin-right: 0px;
                                }
                                nav .social a:hover svg path, nav .social a:hover svg circle {
                                    fill: #b7ac7f;
                                }
                                nav .social a svg {
                                    width: 100%;
                                    height: 100%;
                                }
                                nav .social a svg path, nav .social a svg circle {
                                    fill: #ffffff;
                                    -webkit-transition: all 0.3s ease;
                                    -moz-transition: all 0.3s ease;
                                    -o-transition: all 0.3s ease;
                                    transition: all 0.3s ease;
                                }
                                nav ul.sub {
                                    list-style-type: none;
                                    margin-top: 40px;
                                    -webkit-transform: translateY(30px);
                                    -moz-transform: translateY(30px);
                                    -ms-transform: translateY(30px);
                                    -o-transform: translateY(30px);
                                    transform: translateY(30px);
                                    opacity: 0;
                                    -webkit-transition: all 0.4s ease;
                                    -moz-transition: all 0.4s ease;
                                    -o-transition: all 0.4s ease;
                                    transition: all 0.4s ease;
                                }
                                nav ul.sub li {
                                    margin-bottom: 10px;
                                }
                                nav ul.sub li:last-of-type {
                                    margin-bottom: 0px;
                                }
                                nav ul.sub li a {
                                    color: #ffffff;
                                    font-family: 'Josefin Sans', sans-serif;
                                    font-weight: 300;
                                    letter-spacing: 1px;
                                    font-size: 0.9rem;
                                    text-decoration: none;
                                    -webkit-transition: all 0.3s ease;
                                    -moz-transition: all 0.3s ease;
                                    -o-transition: all 0.3s ease;
                                    transition: all 0.3s ease;
                                }
                                nav ul.sub li a:hover {
                                    color: #b7ac7f;
                                }
                                
                                /*  OVERLAY
                                ========================================== */
                                .overlay {
                                    position: fixed;
                                    top: 0;
                                    left: 0;
                                    z-index: 1;
                                    width: 100%;
                                    height: 100%;
                                    -webkit-transition: all 0.3s ease-in-out;
                                    -moz-transition: all 0.3s ease-in-out;
                                    -o-transition: all 0.3s ease-in-out;
                                    transition: all 0.3s ease-in-out;
                                    background-color: #b7ac7f;
                                    opacity: 0;
                                    visibility: hidden;
                                }
                                .overlay.show {
                                    opacity: 0.8;
                                    visibility: visible;
                                }





/* TOOLTIP */



.item-hints .hint {
  width: 40px;
  height: 40px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
                                            .item-hints .hint::before {
                                            /* pallino */
                                            background-color: rgb(255, 0, 0);
                                            width: 8px;
                                            height: 8px;
                                            z-index: 2;
                                            -webkit-clip-path: polygon(50% 0, 100% 50%, 50% 100%, 0 50%);
                                            clip-path: polygon(50% 0, 100% 50%, 50% 100%, 0 50%);
                                            content: "";
                                            position: absolute;
                                            top: 50%;
                                            left: 50%;
                                            -webkit-transform: translate(-50%, -50%);
                                            transform: translate(-50%, -50%);
                                            }

.item-hints .hint::after {
  /* ombra verde */
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border-radius: 50%;
  width: 2px;
  height: 2px;
  z-index: 1;
  -webkit-box-shadow: 0 0 30px 20px rgba(72, 170, 72, 0.3);
  box-shadow: 0 0 30px 20px rgba(72, 170, 72, 0.3);
  -webkit-animation: home_hero_item_hints_glow 2s
    cubic-bezier(0.25, 0.1, 0.2, 1) infinite;
  animation: home_hero_item_hints_glow 2s cubic-bezier(0.25, 0.1, 0.2, 1)
    infinite;
  -webkit-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
}



/* @-webkit-keyframes home_hero_item_hints_glow {
  0% {
    -webkit-box-shadow: 0 0 30px 5px #48aa48;
    box-shadow: 0 0 30px 5px #48aa48;
  }
  70% {
    -webkit-box-shadow: 0 0 70px 50px rgba(72, 170, 72, 0);
    box-shadow: 0 0 70px 50px rgba(72, 170, 72, 0);
  }
  100% {
    -webkit-box-shadow: 0 0 0 50px rgba(72, 170, 72, 0);
    box-shadow: 0 0 0 50px rgba(72, 170, 72, 0);
  }
}
@keyframes home_hero_item_hints_glow {
  0% {
    -webkit-box-shadow: 0 0 30px 5px #48aa48;
    box-shadow: 0 0 30px 5px #48aa48;
  }
  70% {
    -webkit-box-shadow: 0 0 70px 50px rgba(72, 170, 72, 0);
    box-shadow: 0 0 70px 50px rgba(72, 170, 72, 0);
  }
  100% {
    -webkit-box-shadow: 0 0 0 50px rgba(72, 170, 72, 0);
    box-shadow: 0 0 0 50px rgba(72, 170, 72, 0);
  }
} */


                                        /* cerchio sottile intono ai pallini */
                                        .item-hints .hint-dot {
                                        z-index: 3;
                                        border: 1px solid #fff;
                                        border-radius: 50%;
                                        width: 40px;
                                        height: 40px;
                                        display: block;
                                        -webkit-transform: translate(-0%, -0%) scale(0.95);
                                        transform: translate(-0%, -0%) scale(0.95);
                                        -webkit-animation: home_hero_item_hints_border 2s linear infinite;
                                        animation: home_hero_item_hints_border 2s linear infinite;
                                        margin: auto;
                                        }
                                        @-webkit-keyframes home_hero_item_hints_border {
                                        0%,
                                        100% {
                                            border-color: rgba(0, 0, 0, 0.6);
                                            -webkit-transform: translate(-50%, -50%) scale(0.95);
                                            transform: translate(-0%, -0%) scale(0.95);
                                        }
                                        50% {
                                            border-color: rgba(0, 0, 0, 0.3);
                                            -webkit-transform: translate(-50%, -50%) scale(1);
                                            transform: translate(-0%, -0%) scale(1);
                                        }
                                        }
                                        @keyframes home_hero_item_hints_border {
                                        0%,
                                        100% {
                                            border-color: rgba(0, 0, 0, 0.6);
                                            -webkit-transform: translate(-50%, -50%) scale(0.95);
                                            transform: translate(-0%, -0%) scale(0.95);
                                        }
                                        50% {
                                            border-color: rgba(0, 0, 0, 0.3);
                                            -webkit-transform: translate(-50%, -50%) scale(1);
                                            transform: translate(-0%, -0%) scale(1);
                                        }
                                        }

/* ombra intono che abbiamo tolto */
/* .item-hints .hint-radius {
  background-color: rgb(24, 9, 238);
  border-radius: 50%;
  width: 250px;
  height: 250px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -125px 0 0 -125px;
  opacity: 0;
  visibility: hidden;
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transition-property: background-color, opacity, visibility,
    -webkit-transform;
  transition-property: background-color, opacity, visibility, -webkit-transform;
  transition-property: background-color, opacity, visibility, transform;
  transition-property: background-color, opacity, visibility, transform,
    -webkit-transform;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-timing-function: ease, ease, ease,
    cubic-bezier(0.5, 0, 0, 1);
  transition-timing-function: ease, ease, ease, cubic-bezier(0.5, 0, 0, 1);
}
.item-hints .hint:hover .hint-radius {
  opacity: 1;
  visibility: visible;
  -webkit-transform: scale(1);
  transform: scale(1);
} */
/* .item-hints .hint[data-position="1"] .hint-content {
  top: 85px;
  left: 50%;
  margin-left: 56px;
} */
                                /* testo */
                                    .item-hints .hint-content {
                                    color: black;
                                    width: 300px;
                                    position: absolute;
                                    z-index: 5;
                                    padding: 12px 0;
                                    opacity: 0;
                                    visibility: hidden;
                                    -webkit-transition: opacity 0.7s ease, visibility 0.7s ease;
                                    transition: opacity 0.7s ease, visibility 0.7s ease;
                                    pointer-events: none;
                                    color: black;
                                    visibility: hidden;
                                    pointer-events: none;
                                    }
                                    .item-hints .hint:hover .hint-content {
                                    color: black;
                                    width: 300px;
                                    position: absolute;
                                    z-index: 5;
                                    padding: 12px 0;
                                    opacity: 1;
                                    visibility: visible !important;
                                    -webkit-transition: opacity 0.7s ease, visibility 0.7s ease;
                                    transition: opacity 0.7s ease, visibility 0.7s ease;
                                    pointer-events: none;
                                    color: black;
                                    visibility: hidden;
                                    pointer-events: none;
                                    }

                                    .glassmorfismo{
                                        background: rgba( 255, 255, 255, 0.9 );
                                        box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
                                        backdrop-filter: blur( 20px );
                                        -webkit-backdrop-filter: blur( 20px );
                                        border-radius: 10px;
                                        border: 1px solid rgba( 255, 255, 255, 0.18 );
                                        padding-left: 20px;


                                        
                                        
                                                                            }

                                                                /* linea sotto testo */
                                                                .item-hints .hint-content::before {
                                                                width: 0px;
                                                                bottom: 0;
                                                                left: 0;
                                                                content: "";
                                                                background-color: black;
                                                                height: 1px;
                                                                position: absolute;
                                                                transition: width 0.4s;
                                                                }
                                            /* linea di collegamento */
                                            .item-hints .hint:hover .hint-content::before {
                                            width: 180px;
                                            transition: width 0.4s;
                                            }
                                            .item-hints .hint-content::after {
                                            -webkit-transform-origin: 0 50%;
                                            transform-origin: 0 50%;
                                            -webkit-transform: rotate(-225deg);
                                            transform: rotate(-225deg);
                                            bottom: 0;
                                            left: 0;
                                            width: 80px;
                                            content: "";
                                            background-color: black;
                                            height: 1px;
                                            position: absolute;
                                            opacity: 1;
                                            -webkit-transition: opacity 0.5s ease;
                                            transition: opacity 0.5s ease;
                                            transition-delay: 0s;
                                            -webkit-transition-delay: 0s;
                                            transition-delay: 0s;
                                            }
                                            .item-hints .hint:hover .hint-content::after {
                                            opacity: 1;
                                            visibility: visible;
                                            }
                                            .item-hints .hint[data-position="4"] .hint-content {
                                            bottom: 85px;
                                            left: 50%;
                                            margin-left: 56px;
                                            }

