@charset "ISO-8859-1";
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(120deg, #2980b9, #8e44ad);
}

.login {
    animation: fadeinLoad 1s 1s forwards;
    opacity: 0;
  }
  
  @keyframes fadeinLoad {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }


button {
    display: flex;
    align-items: center;
    justify-content: center;
}

a {
    color: #292929;
}

.login {
    width: 360px;
    height: min-content;
    padding: 20px;
    background: rgba(255, 255, 255, 0.70);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(0px);
    -webkit-backdrop-filter: blur(0px);
    border: 1px solid rgba(255, 255, 255, 0.58);
}

/* .login:hover{
    background: rgba(255, 255, 255, 0.90);
} */

input[type=text] {
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    border: 1px solid #1e668a;
    color: #1e668a;
    padding-left: 10px;
}

input[type=text]:focus {
    outline: none;
    border: 1px solid #1e668a;
    color: #1e668a;
}

input[type=password] {
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    border: 1px solid #1e668a;
    color: #1e668a;
    padding-left: 10px;
}

input[type=password]:focus {
    outline: none;
    border: 1px solid #1e668a;
    color: #1e668a;
}

input[type=email] {
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    border: 1px solid #1e668a;
    color: #1e668a;
    padding-left: 10px;
}

input[type=email]:focus {
    outline: none;
    border: 1px solid #1e668a;
    color: #1e668a;
}

.form-label {
    margin-left: 5px;
}

